@(message: String, hooks: Set[de.htwg.seapal.maps.views.web.hooks.MenuBarHook])

@scripts = {
	<script type="text/javascript" src="@de.htwg.seapal.maps.controllers.routes.PlayMapsController.javascriptRoutes"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAL6gKFmwH7gDXmmAW-5VqkW_HbJG7_QLA&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/label.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/seamap/seamap-1.0.0.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/seapal_main.js")"></script>
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/seamap.css")" />
}

@main("Welcome to Play 2.1") {
    
    @for(hook <- hooks) {
  			<li>@(hook.print())</li>
	} 
    
    
    @play20.welcome(message, style = "Java")
    
}
