@(mapsSettings: de.htwg.seapal.maps.models.IMaps, myForm: Form[de.htwg.seapal.maps.models.impl.Maps],
menuPositionTypes: List[String], positionTypes: List[String], mapsTypes: List[String])

@import de.htwg.seapal.maps.views.html._
@import de.htwg.seapal.maps.models._



@scripts = {
	<script type="text/javascript" src="@de.htwg.seapal.maps.controllers.routes.PlayMapsController.javascriptRoutes"></script>
}

@main("Boat Info", scripts, "withsubnavi") {

	@helper.form(action = de.htwg.seapal.maps.controllers.routes.PlayMapsController.saveSeamapSettings(), 'id -> "form") {
		<input type="hidden" id="idField" name="id" value="-1" />
		<div class="content-wrapper">
			<div class="container">
				<div class="row">
					<div class="span8">
						<div class="left">
							<h1>Seamap Settings</h1>
						</div>
					</div>
					<div class="span4">
						<div class="right buttons_top">
							<input type="submit" id="submitBtn" class="btn btn-success" value="Speichern"/>
						</div>
					</div>
				</div>
				<div class="input-wrapper" id="boat_input">
					<div class="row">
						<div class="span4">
							@helper.checkbox(myForm("menuVisible"))
						</div>
					</div>
					<div class="row">
						<div class="span4">
							@helper.select(myForm("menuPositionState"), helper.options(menuPositionTypes))
						</div>
					</div>
					<div class="row">
						<div class="span4">
							@helper.select(myForm("positionState"), helper.options(positionTypes))
						</div>
					</div>
					<div class="row">
						<div class="span4">
							@helper.inputText(myForm("position"))
						</div>
					</div>
					<div class="row">
						<div class="span4">
							@helper.select(myForm("type"), helper.options(mapsTypes))
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}