@main("") {
    
 

<script type="text/javascript">
<!--

// open a WebSocket
var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
var mapSocket = new WS("@de.htwg.seapal.maps.controllers.routes.SocketController.open().webSocketURL(request)");

mapSocket.onmessage = function(event) {
	$('#data').append(event.data + "\n");
}

// if errors on websocket
var onalert = function(event) {
	$('#data').append("Error: " + event.data + "\n");
}

mapSocket.onerror = onalert;
mapSocket.onclose = onalert;
    
-->
</script>

<pre id="data">

</pre>

   
}